[2017-02-28 20:21] syncall opened #3 "Testi"

[2017-03-01 11:47] sacdallago commented on #3
Very good use of milestones -->

[2017-03-01 18:41] syncall opened #5 "Set up first repository structure"

[2017-03-01 18:42] #3 closed, assigned to nobody

[2017-03-01 18:55] demirdagemir opened #6 "Create the First Draft of Design"
First draft of Design of the opening page

[2017-03-01 18:57] syncall opened #7 "Get Elasticsearch Server Running"

[2017-03-01 18:58] demirdagemir opened #8 "Contact and gather information about the data structure from Group A/B"

[2017-03-01 19:02] ysdevys opened #9 "Gather information about "Continuous Integration and Testing with JavaScript""
Description: This topic is all about the software development cycle with JavaScript. Starting with behaviour driven development and unit testing (e.g. with Mocha), we then take a look at larger-scale integration testing and especially continuous integration strategies (e.g. with Travis). To finish the testing cycle, we take a look at system and deployment testing (e.g. with Docker).

[2017-03-01 19:04] syncall commented on #9
Browsers cache a lot of data <-> .js Files might not be up to date, which makes Continuous Integration difficult?

[2017-03-01 19:05] demirdagemir commented on #9
To consider: Do we really need Docker with Webpack?

[2017-03-01 19:16] yetolas commented on #6
I will create the wiki page with comments on tools and design files.

[2017-03-01 19:16] demirdagemir opened #10 "Create Wiki Page - Project Tools and Structures"
Create Wiki Page for React, Webpack and Setup

[2017-03-02 09:55] sacdallago commented on #9
@demirdagemir very good point. Rule of thumb:

IF: it runs a server
---> You need docker
ELSE:
---> You don't need docker.

IF: you have written modular javascript/typescript (answer: yes)
---> You need webpack to bundle the src into a bundle
ELSE:
---> You execute the javascript directly from the SRC

Very simple example of this: https://github.com/tpca/mecu-line

Main code is in lib/index.js -->

[2017-03-02 13:33] syncall commented on #8
Team 05 has already defined some sample data
https://github.com/MusicConnectionMachine/VisualizationG5/tree/develop/mock_data

[2017-03-02 22:54] yetolas commented on #6
I found this tool online called Axure for creating mockups and was pretty straight forward: https://www.axure.com

So here is what I created, comment first on the functionalities and what I miss and then on how do we want to look like: http://6ua191.axshare.com/#g=1&p=home

Send me all feedback possible so I can add/ correct it.

[2017-03-02 23:31] kordianbruck opened #11 "Overlapping Work"
Hey,

just as a suggestion: it does not make sense that both teams do a fully fleched Web App with all components. It would be better if one of the team focuses on the big picture, like the main framework and detailed views while the other team comes up with a great idea how to navigate the "social network graph".

So: maybe you can coordinate a bit with your colleges so we don't end up with two s

[2017-03-03 18:05] syncall commented on #8
Sample data https://v-private.s3.amazonaws.com/JST2017/composition-metadata.tsv.gz

[2017-03-03 18:06] syncall commented on #8
UML datagram from team A http://imgur.com/a/2gRzu

[2017-03-03 18:41] ysdevys commented on #6
I like it

[2017-03-04 09:57] sacdallago commented on #8
I can't read anything from the screenshot 🤔

[2017-03-04 13:55] kordianbruck commented on #8
@syncall Github also accepts pictures in the issues - just FYI

[2017-03-06 21:06] chaoran-chen commented on #11
Hey G6! How are you? Do you have some ideas how we can coordinate it? As I can see in your setup-branch, you are also going to use React - I think that's great! Do you want to build a SPA or just to use the components to build widgets?

Our current plan is to build a React-bundle for each component which can be included in our express pages as well as on external websites. Maybe you could use our

[2017-03-06 22:26] #5 closed, assigned to demirdagemir

[2017-03-06 22:26] #10 closed, assigned to demirdagemir

[2017-03-07 19:27] sacdallago commented on #11
Sounds like a very good plan! I suggest the two teams chat a bit more about this :) And then, obviously, update us!

[2017-03-07 23:10] demirdagemir commented on #11
Hey @MusicConnectionMachine/group-5 ,

What you suggest sounds cool. We also discussed that we will create bundles for each component. I'm not really experienced with Express, let me(us) look into it, discuss it with the guys. But, I also checked your project, seems like our tools match, and I don't think it would be hard to integrate/do a collaboration. Also you guys seem more experienced than us

[2017-03-08 11:08] demirdagemir opened #13 "Create Search Page"
Create the landing page with search bar

[2017-03-08 12:55] syncall commented on #13
When the elastic search server is running, you cann query it like this
https://www.elastic.co/guide/en/elasticsearch/reference/5.2/_the_search_api.html

[2017-03-08 13:43] syncall commented on #7
For later use: https://www.elastic.co/guide/en/logstash/current/plugins-inputs-couchdb_changes.html

[2017-03-08 14:50] syncall commented on #13
For example with a get request http://localhost:9200/music/_search?q=mozart&from=0&size=10
For the human eye: http://localhost:9200/music/_search?q=mozart&from=0&size=10&pretty
or a more complex POST request

[2017-03-09 13:09] sacdallago commented on #13
@syncall that, given that you are running the elasearch server locally :D Trust me.. not everyone... will get it.

[2017-03-09 15:05] syncall commented on #6
Nice. Should we split the search page and the page with the details? So we have a general search page like this:
<---Search Bar--->

-- Result 1
-- Result 2
etc

And if you click on one entry you get the page @yetolas made? Different pages for Musicians and Compositions?

And single react components for the graph and the details. So they could be include elsewhere. You just have to know the Compos

[2017-03-10 01:52] demirdagemir opened #16 "Integrate querying the sample search data in Search component"
Add elastic search client and integrate running a simple search query from the landing page.

[2017-03-11 16:14] #7 closed, assigned to syncall

[2017-03-11 20:38] #13 closed, assigned to demirdagemir

[2017-03-12 15:07] demirdagemir opened #17 "Get initial routing working"
A simple **react router(v4)** will be integrated.

- When the user types in the search bar, the app will navigate to `/search`, for search results.
- Existing routes can be then be modified if we want to.
- Additional routes can be easily added to the `App` component, where the React Router will live.

[2017-03-13 07:17] pfent commented on #17
Could you please provide a short description with each issue?
E.g. What routes do you want to provide? What tools are you using?

Even a short note, stating you haven't decided on anything, helps you and your coworkers keeping track of decisions

[2017-03-13 14:32] syncall opened #19 "Secure Elasticsearch backend"
Password authentication. Limit Max query results

[2017-03-13 14:34] syncall opened #20 "Build component for search results"
Build a components, that can display one search result. Just an overview. And render it for every result coming from querying the Backend.

[2017-03-13 14:36] syncall commented on #20
Keep in mind, that there will be multiple types of results. For example also musicians. Not only compositions. Component has to be able to be  extended easily for other return types.

[2017-03-13 14:38] syncall opened #21 "Make components in search result click able and display detail page"
This page should contain components for details in text form. A graph and commenting functionality

[2017-03-13 15:08] demirdagemir commented on #19
Please bear in mind that these two lines in docker-compose.yml, enables the webpack-dev-server to communicate with elasticsearch server.

`http.cors.enabled=true`
`http.cors.allow-origin=* `

Otherwise it throws this error:
`No 'Access-Control-Allow-Origin' header is present on the requested
resource. Origin 'localhost:8080' is therefore not allowed access.`

[2017-03-13 16:38] syncall opened #22 "Build component for graph"
Use D3. As input you get an id. With this the Backend can be queried to get additional info. Display connections to other entries in the graph. Nodes should be click able to navigate to the other entries.

[2017-03-13 16:38] syncall commented on #22
Maybe background transparent?

[2017-03-13 16:43] syncall opened #23 "Build component for commenting"
In Elasticsearch, data can easily be added to indices. Make new index and type for comments. Anonymous user has to have the right to insert into this index.
Maybe use some sort of HTML "What you see is what you get editor" (-> Google) for formating the comment.

[2017-03-13 16:46] syncall commented on #23
Input is a id (+maybe a type = string) together these are unique. They is references a entry under /music/:type/:id

[2017-03-13 16:53] syncall commented on #23
Prevent HTML Injection

[2017-03-13 17:17] syncall opened #24 "Build some animations between transitions"
For example Loading icon etc.

[2017-03-13 17:47] #16 closed, assigned to demirdagemir

[2017-03-13 17:47] #17 closed, assigned to demirdagemir

[2017-03-14 11:03] demirdagemir opened #25 "Integrate Redux"
Add Redux for state management so that our states won't get lost every time we navigate

[2017-03-14 11:06] demirdagemir commented on #23
HTML injection/XSS should we really be concerned about? My guess is

1-  React takes care of that.
2- It's a backend job to escape strings? 🤔

[2017-03-14 12:30] syncall commented on #23
If users can input custom text we have to think about it. At least check if its not possible

[2017-03-14 12:55] syncall opened #27 "Build Bridge from Elasticsearch to database of team A&B"
Elasticsearch offers two possibilities. Rivers (easy but deprecated) and logstash (extra application)
https://www.elastic.co/guide/en/logstash/current/index.html
Think of proper index and type (all types under same index can be searched the same tame)

[2017-03-14 17:10] syncall commented on #25
is this necessary? I mean the state is defined more or less in the url

[2017-03-14 21:12] kordianbruck commented on #17
@demirdagemir please link the commits by including them in the commit / PR (simply type "#\<issueNumber>")

or add a description when closing the issue what was done

[2017-03-14 21:12] kordianbruck commented on #16
@demirdagemir https://github.com/MusicConnectionMachine/VisualizationG6/issues/17#issuecomment-286562184

[2017-03-14 21:15] kordianbruck commented on #22
What kind of graph? You mean the network graph? Are there any mockups? Which ID?

This issue is way too unspecific

[2017-03-14 21:19] kordianbruck commented on #23
XSS is generally to be handled by your templating system when outputting / inserting variables into your generated HTML code. With react some cases are considered. This seems to be a good read: https://medium.com/node-security/the-most-common-xss-vulnerability-in-react-js-applications-2bdffbcc1fa0#.jteym9x4e

I'm no friend of saving HTML entities to DB - here is why: https://stackoverflow.com/ques

[2017-03-14 21:20] kordianbruck commented on #27
Teams 1 & 2 will have to provide an REST Api for you guys, not a database.

[2017-03-15 01:21] #6 closed, assigned to yetolas

[2017-03-15 01:22] yetolas commented on #9
I will update this thread soon with all files and info.

[2017-03-15 11:32] demirdagemir commented on #25
Could come in hand in my opinion. Let's see if things will get out of hand without redux

[2017-03-15 12:34] syncall opened #28 "Searching an empty string results in nirvana"
The Routing won't work for empty search string.

[2017-03-15 13:09] #20 closed, assigned to syncall

[2017-03-15 13:34] syncall commented on #24
https://facebook.github.io/react/docs/animation.html

[2017-03-15 13:41] syncall opened #29 "Build Component to display entity details (table?)"
Refer to #21

[2017-03-15 14:13] #21 closed, assigned to syncall

[2017-03-15 14:14] demirdagemir opened #31 "Write tests for components"
Ideally this could be postponed but we need it for the presentation

[2017-03-15 14:16] demirdagemir commented on #31
Check out JEST, Mocha, Chai, Istanbul ( for test coverage )

[2017-03-16 11:17] yetolas commented on #9
Some tools:
Jenkins
https://www.eriwen.com/tools/continuous-integration-for-javascript/
http://shashikantjagtap.net/javascript-continuous-integration-jenkins-qunit-grunt/
https://codeforgeek.com/2016/04/continuous-integration-deployment-jenkins-node-js/

Jasmine
https://semaphoreci.com/blog/2013/05/28/jasmine-javascript-tests-for-continuous-integration.html
https://code.tutsplus.com/tutorials/test

[2017-03-16 11:41] kordianbruck commented on #31
Maybe even https://www.sonarqube.org/ ?

[2017-03-16 11:44] kordianbruck commented on #9
It would be great if you can move presentation / workshop related things to a different repository, so we don't get notified about those things! Thanks!

[2017-03-16 11:47] kordianbruck opened #32 "Use auto prefixer for Webpack"
https://github.com/postcss/autoprefixer

So you can cut down on the CSS you need to write.

[2017-03-16 16:01] demirdagemir opened #33 "Set up docker cloud and send reports"

[2017-03-16 18:42] ysdevys commented on #9
i sent you all an email with the gathered information and links to some articles and tutorials, that are good

[2017-03-17 10:02] sacdallago commented on #33
Edit: Set up docker cloud as in https://github.com/MusicConnectionMachine/MusicConnectionMachine.github.io/issues/6

[2017-03-17 17:56] demirdagemir opened #34 "Can't deploy docker"
We are yet to send the report because we can't deploy our docker image to the docker cloud. Could one of tutors help us? We tried bunch of things for 2 days but we simply can't find a solution.

We kind of lack experience in this and we need some guidance.

The problem is, when we add a service to the docker cloud, it terminates itself, throwing bunch of memory errors. (map count not enough, boots

[2017-03-18 15:21] demirdagemir commented on #34
Solved

[2017-03-18 15:21] #34 closed, assigned to nobody

[2017-03-18 15:22] demirdagemir commented on #33
Elasticsearch API & Data : http://elasticsearch-a2e1f328-1.352d537d.cont.dockerapp.io:9200/
UI : http://visualization-g6.surge.sh/

[2017-03-18 15:22] #33 closed, assigned to demirdagemir

[2017-03-19 06:29] syncall opened #36 "Get Elasticsearch to run on Azure"
For demonstration purpose (and maybe later finally) we have to get Elasticsearch to run on the azure cloud.

[2017-03-19 06:39] syncall commented on #36
Whenever I start Elasticsearch, an error comes up stating, that vm.max_map_count is too low
This is actually a kernel setting.
@ysdevys @sacdallago Do you have any idea how to fix that?
`sysctl -w vm.max_map_count=262144` would fix the problem, but I can't run that command in a container. Docker containers share the kernel with the host, so is this a host setting?

[2017-03-19 08:36] demirdagemir commented on #36
This problem is solved, I finally made it work yesterday.  Sorry I didn't let you know, I thought you saw the last commit #35,   and checked out the issues: #33 #34

[2017-03-19 08:36] #36 closed, assigned to demirdagemir, syncall, ysdevys

[2017-03-19 08:38] demirdagemir commented on #31
Wow, seems really nice @kordianbruck

[2017-03-19 10:57] syncall opened #37 "The design one mobile devices looks bad"
![screenshot_20170319-103136](https://cloud.githubusercontent.com/assets/25962345/24080228/eba5eab2-0c9a-11e7-80d1-a8b84abbdf37.png)
This is just on the starting screen. After results show up the background is fullscreens.Aa

[2017-03-19 11:00] syncall commented on #37
![screenshot_20170319-120042](https://cloud.githubusercontent.com/assets/25962345/24080262/a560be46-0c9b-11e7-8d8d-3615495edb51.png)
![screenshot_20170319-120102](https://cloud.githubusercontent.com/assets/25962345/24080263/ad6ee4c8-0c9b-11e7-9200-4acf64047b2e.png)

[2017-03-19 11:54] kordianbruck commented on #34
Please next time mention one of us or post it in chat to get priority support on this ;)

[2017-03-19 12:05] kordianbruck commented on #33
@demirdagemir are you guys still planing to use Azure?

[2017-03-19 12:09] demirdagemir commented on #33
@kordianbruck I think we are. The elastic search image in the docker cloud that Christian has set up, is connected to Azure, I believe. 🤔

[2017-03-19 12:09] kordianbruck commented on #33
Ah great - looks greaaaaat! Keep it up!

[2017-03-19 12:16] demirdagemir commented on #33
@kordianbruck just one question, do we have to send additional reports, or updating the readme just did it?

[2017-03-19 12:18] kordianbruck commented on #33
What do you mean by reports? You mean like on friday? No, we will see your progress in your presentation next week - no need for more reports. Keeping the README up to date is also great ;)

[2017-03-19 12:20] demirdagemir commented on #33
Yes, I mean like you said on Gitter, that show us screenshots, mockups, deploy the app. Alright then, thanks a bunch :)

[2017-03-19 12:21] kordianbruck commented on #33
No thats fine, if you handed them in on friday.

[2017-03-19 12:23] demirdagemir commented on #33
Oh, that's what I meant. We haven't handed anything in because of these deploying problems. The app didn't work because we couldn't deploy the backend. (It took waaaaaaay longer than we expected) So should I send an e-mail to jstech address?

[2017-03-19 12:26] kordianbruck commented on #33
Yes, please do!

[2017-03-19 12:27] demirdagemir commented on #33
Alright, sorry for the inconvenience

[2017-03-20 13:31] sacdallago commented on #36
Docker cloud was also behaving strangely over the weekend, might have been that. In two days I'll give you better access to the resources, am talking to the MS guys how to set this up best ;)

[2017-03-20 13:44] sacdallago commented on #34
@kordianbruck in @demirdagemir 's defence: He did :) But I was a 🐒

[2017-03-21 15:24] kordianbruck commented on #24
@demirdagemir so this has been implemented? In which PR?

[2017-03-21 15:37] demirdagemir commented on #24
@kordianbruck No, I closed this as in "will be done in a later date", like in a backlog manner, issues started to get crowded. Wrong approach?

[2017-03-21 15:38] kordianbruck commented on #24
Great - leaving a comment lets everyone know about your plans ;)

[2017-03-21 15:39] demirdagemir commented on #24
Alright, thanks a lot 👍

[2017-03-22 19:27] #29 closed, assigned to syncall

[2017-03-22 19:34] lustoykov opened #40 "Join us!"
See https://github.com/MusicConnectionMachine/VisualizationG5/issues/41

What do you guys think?

[2017-03-24 14:21] syncall commented on #37
The issue is no problem with the new design

[2017-03-24 14:21] #37 closed, assigned to nobody

[2017-03-24 14:22] syncall commented on #27
Elasticsearch is just for mock-up. Well only use the api

[2017-03-24 14:22] #27 closed, assigned to nobody

[2017-03-24 14:23] syncall commented on #22
Done by team 5

[2017-03-24 14:23] #22 closed, assigned to yetolas

[2017-03-24 14:23] syncall commented on #19
Outdated

[2017-03-24 14:23] #19 closed, assigned to nobody

[2017-03-24 14:27] syncall opened #41 "Set up continuous integration environment"
Through Travis and docker. Deploy to azure.

Apache has to redirect all 404 page not found errors to index.html

[2017-03-24 16:43] joern-vh opened #42 "Create Map Component"
Creating a Map with an Overview on where Events happened.

**Composers/Musicians:**
- Where did they born?
- Where did they composed?
- Where did they performed?

**Music Pieces**
- Where have they been composed?
- Where have they been performed?

We need to have a look what kind of Data we can get.

Think this is assigned to @ysdevys right?

[2017-03-24 16:48] joern-vh commented on #42
Unfortunately I cannot assign anyone to this Issue - Problem because it's Group 6?

[2017-03-24 16:54] joern-vh opened #43 "Single Page Application"
Create a Single-Page Application including
- Search Component #56
- Autocompletion #57
- Pagination Component #49

@syncall @demirdagemir

[2017-03-24 17:58] ysdevys commented on #42
Yes, its mine

[2017-03-25 15:06] ysdevys commented on #42
URL to the issue of G5 where all the relevant comments are:
https://github.com/MusicConnectionMachine/VisualizationG5/issues/26

[2017-03-26 22:10] ysdevys commented on #42
Feature/map-widget deafult committed:
https://github.com/MusicConnectionMachine/VisualizationG6/tree/feature/map-widget

I will continue working on the functionallity of the map.

[2017-03-26 22:33] ysdevys commented on #42
Travis build passed for the feature and for the pull request.
https://travis-ci.org/MusicConnectionMachine/VisualizationG6

[2017-03-27 09:12] #8 closed, assigned to syncall

[2017-03-27 09:13] #9 closed, assigned to yetolas, ysdevys

[2017-03-27 09:15] demirdagemir commented on #40
Closed, as the issue is discussed inside [G5#41](https://github.com/MusicConnectionMachine/VisualizationG5/issues/41)

[2017-03-27 09:15] #40 closed, assigned to nobody

[2017-03-27 09:16] demirdagemir commented on #41
Closed, as it has been setup by @syncall -> #44

[2017-03-27 09:16] #41 closed, assigned to syncall

[2017-03-27 09:19] demirdagemir opened #46 "Create Header Component"
We could move the search bar inside a header component for cleaner design inside the SPA. Homepage stays as it is, inner pages will have a header with a search bar and the logo.

Related: #43

[2017-03-27 18:47] kordianbruck commented on #11
Discussed in https://github.com/MusicConnectionMachine/VisualizationG5/issues/41

[2017-03-27 18:47] #11 closed, assigned to nobody

[2017-03-27 18:56] kordianbruck commented on #8
Data was communicated in several other issues in the other repositories. If you are looking for them please check there.

[2017-03-29 17:37] syncall opened #49 "Implement Pagination"
Ether Copy & Paste the Pagination from Group 1 or implemnt own bootstrap pagination.

If Group 1 does not use Bootstrap approach 2 might be better for the look and feel
http://getbootstrap.com/components/#pagination

[2017-03-30 10:07] yetolas commented on #49
Working on it, will update soon!

[2017-03-30 13:01] syncall opened #51 "Integrate Relations in Search Results"
When searching for something we display some interesting relations regarding the search words.
For this we load the sample data from MusicConnectionMachine/RelationshipsG4#49 into elasticsearch

[2017-03-31 07:58] kordianbruck commented on #51
- I don't understand this?
- You are still using elasticsearch?
- "Wan't"
- Whaaaaat?

[2017-03-31 07:59] kordianbruck commented on #49
@syncall you mean Group 5 right?

[2017-03-31 08:01] yetolas commented on #49
That's what I checked, Group 5! I was working on what he suggested, trying to implement our own bootstrap pagination.

[2017-03-31 08:29] kordianbruck commented on #49
@yetolas maybe you can copy something from here as well? https://github.com/MusicConnectionMachine/VisualizationG5/pull/50#pullrequestreview-30128791

[2017-03-31 08:31] yetolas commented on #49
Yeah, I tried to fix my initial code who for some reason ddin't work exactly as I wanted. But I already had a look there to adjust so I can finally commit it!

[2017-03-31 09:19] lustoykov commented on #49
Hi G6,

we have implemented a full Pagination component with bootstrap, you're welcome to use it

https://github.com/MusicConnectionMachine/VisualizationG5/pull/34

[code]

The implementation in https://github.com/MusicConnectionMachine/VisualizationG5/pull/50#pullrequestreview-30128791 is not as powerful, because it doesn't load data on demand (we don't need that there - instead we load all max 2

[2017-04-01 18:01] demirdagemir commented on #51
I'm guessing what @syncall mean is after submitting a search term, say, Mozart; we want to display some relations like "born in", "similar composers" afterwards. (Spotify-like interface, as we discussed during the presentation week.)

And we are still using elasticsearch for the API. Did we miss it or is the API ready? @kordianbruck

[2017-04-02 09:38] demirdagemir commented on #25
Closed b/c solved with #50

[2017-04-02 09:38] #25 closed, assigned to demirdagemir

[2017-04-02 23:43] kordianbruck commented on #51
No, no elasticsearch anywhere in the stack. We said instead revert to SQL Fulltext so that we reduce complexity and improve maintainability

[2017-04-02 23:44] kordianbruck commented on #51
Also, how does this relate to https://github.com/MusicConnectionMachine/VisualizationG5/pull/50 ?

Aren't you basically talking about the same thing?

[2017-04-02 23:50] lustoykov commented on #51
Yep, I think so.

[2017-04-03 06:51] syncall commented on #51
This one is for general search results. The app from the other team is similar but only for one entity.
@kordianbruck so you actually suggest I should set up a complete new mock-up back end, that works with postgres? Even when the API call would be the same anyway?

[2017-04-03 10:07] kordianbruck commented on #51
@syncall No: for the mockup you can work with elastic. For the end product we don't want it in there. Sorry for the confusion.

[2017-04-03 10:37] syncall commented on #51
Yes that's what I thought. Maybe I shouldn't have written it in the issue description, because it's only temporary.

[2017-04-05 12:06] demirdagemir commented on #46
Closed because solved with #53

[2017-04-05 12:06] #46 closed, assigned to nobody

[2017-04-05 13:48] #51 closed, assigned to syncall

[2017-04-05 13:53] pfent commented on #49
@yetolas any updates on this?

[2017-04-06 09:10] syncall opened #55 "Integrate Widgets"
Refering to MusicConnectionMachine/VisualizationG5#42
Probably through iframe. They have some other closed issue regarding this topic

[2017-04-06 09:12] syncall opened #56 "Use Real Data"
Transition to Real Data. Away from Elasticsearch
Requirements:
 - MusicConnectionMachine/api#27
 - MusicConnectionMachine/api#14

[2017-04-06 09:14] demirdagemir commented on #32
closed because solved by @syncall with #54

[2017-04-06 09:14] #32 closed, assigned to demirdagemir, syncall

[2017-04-06 09:14] demirdagemir commented on #28
closed because solved by redux with #50

[2017-04-06 09:14] #28 closed, assigned to demirdagemir

[2017-04-06 10:04] syncall opened #57 "Implement Autocomplete"
Group 5 already has one -> Copy?

Maybe: https://www.npmjs.com/browse/keyword/typeahead

[2017-04-06 15:02] chaoran-chen commented on #55
If you want, our groups can work on this issue together. Just write us if you need something! :)

[2017-04-07 05:57] syncall opened #58 "Prevent Caching of new builds"
The new build is out, but you can't see it because the browser cache still has the old one.
Webpack should be able to bundle it's build in something like bundle-(current date).js

[2017-04-07 05:59] syncall opened #59 "Docker autodeploy not working"
When a new build is pushed to the repo it won't get deployed (even if it's enabled/ maybe because old container is still running).
We can manually trigger a new deploy inside Travis, when the build succeeds

[2017-04-07 06:03] syncall opened #60 "Enable webpack code splitting"
Webpack has a feature to split the bundle at certain breakpoints, and load the data on demand. We could use that to increase loading time a lot (split between a bare minimum, the search and the details).
Maybe with some fancy loading icon in between.

[2017-04-08 08:02] demirdagemir commented on #57
Why? We don't need autocomplete. We have redux? (Not to say autocomplete is bad, but already we have an alternative)

[2017-04-08 08:08] demirdagemir commented on #55
Will do definitely, thanks a lot 😄

[2017-04-08 11:03] demirdagemir commented on #24
Reopened since it was postponed before

[2017-04-08 11:05] demirdagemir commented on #55
@chaoran-chen I saw you guys are working on new ideas, mockups; should we wait a little bit more for this?

[2017-04-08 15:31] chaoran-chen commented on #55
I think that you can already start to integrate the Timeline-Component, it is for the most part finished and only needs to be connected to the API. The relationship-exploration widget is still early in the development phase but I guess that later, it can be integrated in the same way like the Timeline-Component.

[2017-04-08 15:48] gyachdav opened #62 "Wireframes and flow for SPA"
Is there flow description for the SPA?

Are there any wireframes for the pages?

[2017-04-09 11:57] syncall commented on #59
This is fixed with #61

[2017-04-09 11:57] #59 closed, assigned to syncall

[2017-04-09 12:19] syncall commented on #60
I think for this all the includes done in App.js for bootstrap, css etc. have to be moved to every location they are used.

So we have the statements at least twice, at the search file and the details file or else if the details page is loaded directly without opening the search page some files are missing.

[2017-04-09 12:19] syncall commented on #60
Maybe we can also split the react source files into a separate bundle so they can be cached (nice to have)

[2017-04-09 12:46] #58 closed, assigned to syncall

[2017-04-09 19:28] gyachdav commented on #62
Still waiting to hear on that....

[2017-04-09 19:30] gyachdav commented on #43
Update on this one?

[2017-04-09 19:40] syncall commented on #43
actually we did split this up into three issues.

[2017-04-09 19:45] syncall commented on #62
We did start with this (@yetolas did this): http://6ua191.axshare.com/#g=1&p=home

We did this on the first day but it was not so much help so we did't continue making them.

[2017-04-09 19:50] gyachdav commented on #62
Can we still know what you're going for? Is there a demo of the SPA we can look at? A description of the flow? Some idea about themes, styles and assets?

Sent from my iPhone

[2017-04-09 20:37] demirdagemir commented on #43
@gyachdav The latest one is #55, integrating timeline from G5. This is about to be done, I just have to work on the styling a little bit more. I did the first commit on the related branch, and the timeline component can be accessed from `/timeline`

Related to the description of this issue:

#56 is already done, of course we have to include the API with the real data. Since we are using react rout

[2017-04-09 20:42] demirdagemir commented on #62
I mean, we had an SPA since the first day, our project is structured in that way. The demo is [here](http://webpageg6.8ed630ce.svc.dockerapp.io/). We will continue to integrate G5's work into our SPA and work on the issues we created here. Not sure what else to add regarding the SPA, or if there are any other requirements.

[2017-04-09 20:51] demirdagemir commented on #60
True.. I believe it's better practice to include parts of the css rather than, one big css file. Kind of structured it that way because it was easy at first. BUT, this issue will be solved when I integrate the timeline from G5, because they are using a different version of bootstrap; I'll migrate ours to that one and restructure the files.

[2017-04-10 00:05] yetolas commented on #49
I have tried to add this to our project: https://github.com/vayser/react-js-pagination for the pagination but there are still some errors I haven't fixed and still trying to make it work the way it should.

[2017-04-10 06:52] syncall commented on #57
It's still something different. Autocomplete is there to suggest you new stuff you haven't typed yet. But true. It's just nice to have with redux I think. Maybe we can get it to work until feature freeze

[2017-04-10 06:58] syncall commented on #60
This is what I though:
https://webpack.js.org/guides/code-splitting-require/
Or https://webpack.js.org/guides/code-splitting-import/

[2017-04-10 16:23] kordianbruck commented on #49
@yetolas what about using the above component as mentioned?

[2017-04-12 21:08] ysdevys commented on #62
should I reassign this to @demirdagemir or should this issue be closed?

[2017-04-12 21:10] ysdevys commented on #62
isn't this issue part of https://github.com/MusicConnectionMachine/VisualizationG6/issues/43

[2017-04-12 21:11] ysdevys commented on #42
done
PR:
https://github.com/MusicConnectionMachine/VisualizationG6/pull/66

[2017-04-12 21:11] #42 closed, assigned to ysdevys

[2017-04-14 20:55] kordianbruck commented on #62
Can you guys just describe in 2-3 sentences what the usual progression through the app is? This will resolve this issue. Like so:
1. Go on Website
2. Search for ...
3. ???
4. Profit!

[2017-04-14 22:06] syncall commented on #62
Basically the Idea was a Site to explore the entities of the Databse (True we did not focus on relations so much, because we could not really think about what to do with them)

1. I am looking for some new information for Mozart
2. I visit the website
3. I search for Mozart
4. I'll get a lot of Information regarding Mozart (Musician, Composers, Pieces in a list)

Version A:
5. The first entry shou

[2017-04-14 23:11] #57 closed, assigned to syncall

[2017-04-15 00:17] vviro commented on #62
@syncall So how does the step 4 work? Is there one paginated table with musicians, composers and compositions? Three separate tables? Does the widget of Group 5 open upon a click on an entity from the tables (step 6A)?

I would not really consider the relation "composer - composition" an interesting relation for our purposes. It is rather trivial and for example the IMSLP already has exactly this:

[2017-04-15 08:46] syncall commented on #62
Yes we though of putting everything in one table (the Google like search mentioned in the Milestones) - but the sample data only included compositions so until now we only have that

When clicking on a search result we open a 'detail' page. There we can put all the different items we have. Graph/Timeline/Map/description of the entity/relations to other entities
-> a complete set of our information

[2017-04-15 21:20] kordianbruck commented on #62
Ok - thanks for the explanation. Lets close this then.

[2017-04-15 21:20] #62 closed, assigned to ysdevys

[2017-04-17 21:36] kordianbruck commented on #49
Widgets themselves will have pagination. This is obsolete.

For search results: show first 100 entries.

[2017-04-17 21:36] #49 closed, assigned to yetolas

[2017-04-17 21:37] kordianbruck commented on #23
We are dismissing comments for now.

We are not using elasticsearch for anything except demo purposes.

[2017-04-17 21:37] #23 closed, assigned to yetolas

[2017-04-17 21:37] kordianbruck commented on #24
Still: not an important issue. We have to have the main page finished before doing detailed work.

[2017-04-17 21:37] #24 closed, assigned to demirdagemir

[2017-04-17 21:38] kordianbruck commented on #31
No time for tests at the moment. Will revisit testing UI when we got time.

[2017-04-17 21:38] #31 closed, assigned to yetolas, demirdagemir, syncall

[2017-04-17 21:41] kordianbruck commented on #60
Great idea. Not needed at the moment tho. We need the website finished up.

[2017-04-17 21:41] #60 closed, assigned to demirdagemir

[2017-04-17 21:52] kordianbruck opened #67 "Header Bar & Footer"
Use bootstrap components for this.

The header bar should contain:
- TUM Logo
- MCM Logo (Provided @vviro - put a placeholder there for now)
- Navigation bar

Footer - three columns with the following
* The MusicConnectionMachine
** About ( Static Page )
** Legal ( Static Page )
** Github ( https://github.com/MusicConnectionMachine )
* Partners
** Rostlab ( https://www.rostlab.org )
** Peachnote (

[2017-04-17 21:57] kordianbruck opened #68 "Add version & copyright"
On the left we should show the version hash of git ( Use something like https://www.npmjs.com/package/git-rev-sync )

On the Right we want to have a copyright notice with the current year and CC4.0 attribution (Link to https://creativecommons.org/licenses/by/4.0/)

[2017-04-17 22:05] kordianbruck opened #69 "Static pages"
Set up static pages for:

* [x] legal
* [x] imprint
* [x] attributions

You can copy some content from https://got.show

[2017-04-17 22:28] kordianbruck commented on #55
- [ ] On each of the search results pages we want to display events, a map and the relationship widget anchored around the current entity.

[2017-04-17 22:30] kordianbruck opened #70 "Refactor start page"
On the start page we want to have all widgets shown with a preselected set of entities that really show off nicely how we have processed the data (Switch through with tabs or something)

Each time the page is loaded we can randomize the order of the entities.

[2017-04-17 22:33] kordianbruck opened #71 "Integrate search via API"
Depending on https://github.com/MusicConnectionMachine/api/issues/27

We want to search the real data.

[2017-04-17 22:35] kordianbruck opened #72 "Master Plan"
So, to make this project awesome and help you guys to have a easy list of what needs to be done to complete this project we discussed and decided on the following. Your work until now is solid and presentable - we want to make it awesome :sparkles: :sparkles: :sparkles:

- [x] #67 Implement Head Bar & Footer
- [x] #68 Add version & copyright
- [x] #69 Static pages
- [x] #73 About Page
- [x] #55 In

[2017-04-17 22:43] kordianbruck opened #73 "About Page"
- Will contain a text that describes the project ( TODO by @vviro @gyachdav )
- Our group picture that @sacdallago will post
- name of all students that participated

[2017-04-17 22:44] kordianbruck commented on #43
Dismissed in favor of #72

[2017-04-17 22:44] #43 closed, assigned to demirdagemir, syncall

[2017-04-17 22:44] kordianbruck commented on #56
Dismissed in favor of the new masterplan. Still relevant but one of the last tasks we need to do.

[2017-04-17 22:44] #56 closed, assigned to nobody

[2017-04-18 07:14] sacdallago commented on #73
![js2017](https://cloud.githubusercontent.com/assets/6240943/25118576/2be4b28c-2417-11e7-86de-ab8faed1ebe7.jpg)

[2017-04-18 08:20] sacdallago commented on #67
Uhm @kordianbruck @gyachdav @goldbergtatyana you know the story of the TUM logo and design of the page, right? Do we want to go there? I vote for a sound **NO**

[2017-04-18 14:33] pfent commented on #55
Follow up from https://github.com/MusicConnectionMachine/VisualizationG5/issues/65:

Documentation about integration of Widgets is [here](http://54.68.164.199:8083/)

[2017-04-18 14:35] pfent commented on #73
A link to the development documentation about embedding our widgets should also be on the about page

[2017-04-18 20:12] syncall commented on #67
@kordianbruck you said you want a navigation in the Header. Where should it navigate to?
The only thing I can think of is maybe the About Page from the Footer, or the Widget Explanation of Team 5?

[2017-04-18 20:31] gyachdav commented on #67
We will have Home, search and about.
Search is the page where we will be able to search the entities list. The rest is self explanatory.

[2017-04-18 20:32] gyachdav commented on #67
@sacdallago TUM logo is fine as long as we follow the same format we had in got.show. Let's just copy the header and footer from there.

[2017-04-18 20:35] syncall opened #75 "Social Channels"
To which Social Channels should the Page be linked?

[2017-04-18 20:37] goldbergtatyana commented on #75
keep them as place holders for now pls. we'll take care of social channels at the very end. thanks :)

[2017-04-18 20:41] syncall opened #76 "Logo Proposal"
Hi, is there any Logo we should use for the MusicConnectionMachine? Big one and Small one? Or should we keep our own?

[2017-04-18 20:41] syncall commented on #75
ok, thanks

[2017-04-18 20:53] sacdallago commented on #75
Well, but I'd still keep the issue open, low prio, reminds us to take care of this :)

[2017-04-18 20:55] sacdallago commented on #76
Pinging @vviro for this. Or any artist in the group @MusicConnectionMachine/group-1 @MusicConnectionMachine/group-2 @MusicConnectionMachine/group-3 @MusicConnectionMachine/group-4 @MusicConnectionMachine/group-5 ? :)

[2017-04-19 09:11] gyachdav commented on #76
Worse case scenario just have the name MusicConnectionMachine appear at the header.

[2017-04-19 12:32] gyachdav opened #77 "Navigation bar"
Navigation bar should include the following items

- Search - search page

- Plug ins - link to widget's documentation

- API  - link to API documentation site

- About

[2017-04-19 12:34] gyachdav commented on #67
navigation bar continued at #77

[2017-04-19 13:03] syncall commented on #77
At the moment we have the search bar inside the header(navigation) should
we keep it like this and not have an extra link to the search page?

Guy <notifications@github.com> schrieb am Mi., 19. Apr. 2017, 14:32:

[2017-04-19 13:22] sacdallago commented on #76
**MCM** anyone 😆 ?
![](https://upload.wikimedia.org/wikipedia/en/1/1d/MCM-logo.png) ![](https://upload.wikimedia.org/wikipedia/commons/8/86/MCM_logo.png)

[2017-04-19 13:36] gyachdav commented on #77
Yup keep it on the right side for now.

[2017-04-19 21:53] goldbergtatyana commented on #77
What do you think of having another separate page dedicated to the statistics of the project?

[2017-04-19 22:54] goldbergtatyana commented on #76
let' ask in the gitter lobby if there are create minds in the group who could come up with a better logo than @sacdallago 😆

[2017-04-20 09:07] sacdallago opened #78 "Corporate Design guidlines"
Hi, I will dump all CD related stuff in this issue.

There are guidlines for general how-to build the web site, colour scheme, header & footer and there are two .zip files with the logo in white or blue, which in turn require you to use a specific background and colour scheme :)

[Manual_CD_2016_v1.pdf](https://github.com/MusicConnectionMachine/VisualizationG6/files/941804/Manual_CD_2016_v1.pdf)
!

[2017-04-20 09:39] syncall commented on #78
so we have to do all this stuff? ... Thats quite some work.
even https://got.show/ isn't conform with all the guidlines.. (few thing I have read: Social Button for TUM is missing. Space around Tum Logo is not enough etc.)

[2017-04-20 09:59] sacdallago commented on #78
well, as you have guessed from got.show :D You should try to stick to most of this stuff, but slight deviations are acceptable. This, after all, is not a TUM page. We just want to show the logo on top (for that, there is a quite strict rule though, with spaces, proportions and all). And in general: the colour scheme is useful if you haven't decided on a scheme yet :)

But yeah, I just put _everyth

[2017-04-20 11:02] syncall commented on #68
Just one line at the bottom of the page like this?
`v1.0.0` (left side) `© 2017 MusicConnectionMaschine` (right side)

[2017-04-20 11:09] syncall commented on #75
Should there be also buttons for the TUM Facebook page?
In the CD it says the following:

![grafik](https://cloud.githubusercontent.com/assets/25962345/25227878/7fb0e0b6-25ca-11e7-8113-faa7f1c6e965.png)

[2017-04-20 12:38] #68 closed, assigned to yetolas, syncall

[2017-04-20 21:50] syncall commented on #67
This should be done unless someone wants some more changes

[2017-04-20 21:50] #67 closed, assigned to syncall

[2017-04-21 15:29] ManekenT commented on #76
Hi, @chaoran-chen told me about this project and your search for a logo. Some quick ideas:

<img src="https://cloud.githubusercontent.com/assets/5783049/25284477/5ea5c07e-26b7-11e7-813b-b6eff87c5076.png" width="250">
<img src="https://cloud.githubusercontent.com/assets/5783049/25284587/bdebc24a-26b7-11e7-98bf-425cdbb546f0.png" width="250">
<img src="https://cloud.githubusercontent.com/assets/57830

[2017-04-21 16:06] syncall commented on #76
@ManekenT Cool I like this minimalistic style! The first or second would fit nicely in the Header (instead of MusicConnectionMachine).
Have you seen the [Demo](http://webpageg6.8ed630ce.svc.dockerapp.io/)? We'll probably change the overall styling (colors..) of the site, so don't take that as a reference, but do you think you can adapt the third logo to something with a bit more width so it can sp

[2017-04-22 09:59] kordianbruck commented on #75
Yes, why not - lets add both in that fashion.

[2017-04-22 12:46] kordianbruck commented on #75
Disregard my previous comment. The way it looks now is very nice!

[2017-04-22 12:48] kordianbruck commented on #78
Looks good for now.

[2017-04-22 12:48] #78 closed, assigned to nobody

[2017-04-22 12:49] kordianbruck commented on #73
Merged.

[2017-04-22 12:49] #73 closed, assigned to demirdagemir

[2017-04-22 13:06] yetolas commented on #69
I will add the pages to another branch so you can check it out.

[2017-04-22 13:22] kordianbruck commented on #69
Thanks @yetolas

[2017-04-22 13:51] ManekenT commented on #76
@syncall I would advise against using two different designs at once (maybe I misunderstood you?). Also the first idea works well (imo) with the text written out, the abbreviation, and as a favicon:

![mcm_long](https://cloud.githubusercontent.com/assets/5783049/25304973/ce267a86-2772-11e7-8c2b-ad3c0490462e.png)
![favicon](https://cloud.githubusercontent.com/assets/5783049/25304974/cf26b446-2772-11

[2017-04-22 13:56] sacdallago commented on #76
This looks cool @ManekenT :) Thanks!

[2017-04-22 14:44] ysdevys commented on #71
hey guys sorry I have exams this and next week and couldn't do anything yet.
I will try to integrate the Search API, but can someone give me the whole paths for the endpoints because it seems that I can't find them in https://github.com/MusicConnectionMachine/api/blob/develop/api/controllers/search.js
I see here just:
[code]
All other searches are just partial as I can see: searchRelations, search

[2017-04-22 15:07] ManekenT commented on #76
Here are the source files, both as Illustrator files and .svg's:
[mcm.zip](https://github.com/MusicConnectionMachine/VisualizationG6/files/949057/mcm.zip)

[2017-04-22 15:36] syncall commented on #76
@ManekenT Thanks. Nice! But can you reduce the width and height of the logos to the absolute minimum? With no space between the Word and the border? And the background to transparent?

[2017-04-22 15:42] syncall commented on #76
its just hard to fit it like this
![grafik](https://cloud.githubusercontent.com/assets/25962345/25305839/022542da-2783-11e7-9149-568ea180251f.png)

[2017-04-22 15:58] ManekenT commented on #76
yeah of course. should I change the color of the of the logo as well? maybe black or blue?

[2017-04-22 16:08] kordianbruck commented on #76
So we have two options for the menu bar:
1. Make the menu bar black/greyish
2. Make the logo transparent with a greyish font color

For the big one:
I think it can be greyish there, but we want to have less space on the top/bottom

[2017-04-22 16:13] kordianbruck opened #87 "Merge dependencies from G5"
needs to happen for #55

[2017-04-22 16:14] goldbergtatyana commented on #76
Thanks @ManekenT for the beautifule logo! Yeah, it would be awesome if you could provide also some alternative colors (black, TUM-blue), maybe grey.

@kordianbruck best would be to have screenshots with a couple of options and then decide

[2017-04-22 16:28] gyachdav commented on #76
I actually prefer the black over white (third option in @MenekenT post) with the name written in a tree line layout.

@ManekenT thanks a lot for your contribution!!

[2017-04-22 16:39] kordianbruck opened #88 "Complete the about page"
current status: http://webpageg6.8ed630ce.svc.dockerapp.io/about

Todo:
- [x] add all the names of all students and link their website / github page. Please ask them over gitter what they prefer.
- [x] add a refernce to attributions on the very bottom like on https://got.show/about
- [x] Implement the text from https://docs.google.com/document/d/1np2dw3D_B7Gt1bYzsqOOf2_7zK9CIiP_eqY3FyJ-VPQ/edit
-

[2017-04-22 16:40] ManekenT commented on #76
Ok, some different options for you to try out. All three versions, each one in white, black, blue and grey.
[mcm.zip](https://github.com/MusicConnectionMachine/VisualizationG6/files/949130/mcm.zip)

[2017-04-22 17:07] goldbergtatyana opened #89 "Title for the search bar"
Replace "search for something" with "search for composers, musicians and music works"

[2017-04-22 17:50] ysdevys commented on #87
done in https://github.com/MusicConnectionMachine/VisualizationG6/pull/91

[2017-04-22 17:50] #87 closed, assigned to ysdevys

[2017-04-22 17:57] yetolas commented on #69
Commited them, hope everything works fine!

[2017-04-22 18:30] ysdevys commented on #89
done in https://github.com/MusicConnectionMachine/VisualizationG6/pull/92

[2017-04-23 09:45] kordianbruck commented on #76
fixed in #90. Thanks @ManekenT

[2017-04-23 09:45] #76 closed, assigned to nobody

[2017-04-23 09:47] kordianbruck opened #93 "Add the favicon"
can be found here: https://github.com/MusicConnectionMachine/VisualizationG6/issues/76#issuecomment-296374640

[2017-04-23 09:57] kordianbruck opened #94 "Update Attributions"
We need to add the new attributions. Please do the following:

- [x] Add all data sources from G1 (MusicBrainz, Worldcat, etc.)
- [x] IMSLP
- [x] the logo guy @manekenT

[2017-04-23 09:58] kordianbruck commented on #89
Please leave this open until merged

[2017-04-23 10:05] syncall commented on #93
Already don in feature/new-logo

[2017-04-23 10:15] kordianbruck commented on #71
@ysdevys its currently being merged: https://github.com/MusicConnectionMachine/api/pull/114

[2017-04-23 10:20] kordianbruck commented on #69
great work @yetolas - thanks a lot.

This can be closed.

[2017-04-23 10:20] #69 closed, assigned to yetolas, syncall

[2017-04-23 11:18] #89 closed, assigned to ysdevys

[2017-04-23 11:34] #93 closed, assigned to syncall, joern-vh, ysdevys

[2017-04-23 11:56] pfent opened #97 "Update the website title"
Title attribute still reads "Visualization G6":
[code]

[2017-04-23 13:54] joern-vh commented on #97
Fixed in #96.

[2017-04-23 14:03] joern-vh commented on #94
Closed by #96

[2017-04-23 14:03] #94 closed, assigned to joern-vh

[2017-04-23 14:05] joern-vh commented on #88
Waiting for final Version of the description text.

[2017-04-23 14:32] pfent commented on #97
@Binabiko I think you need to change it in the index_template.html as well.

[2017-04-23 14:39] #97 closed, assigned to joern-vh

[2017-04-23 15:34] kordianbruck commented on #70
![img_20170423_172157](https://cloud.githubusercontent.com/assets/298860/25314816/1ff3fa72-284b-11e7-9002-6f76376f66fb.jpg)

[2017-04-23 15:35] kordianbruck opened #98 "Menu Items"
- Home
- Statistics (Static page with images provided by @goldbergtatyana )
- About
- Embed (Currently the Plugin page)

[2017-04-23 15:37] kordianbruck opened #99 "Embed Page"
So we want to have this page http://54.68.164.199:8083/ directly on the website - not separately.

Please copy the HTML and make it look somewhat decently.

It should easily explain to developers what parameters can be use how. Provide 1-2 exmaple code snippets.

[2017-04-23 15:41] kordianbruck commented on #70
With each of the widgets we will display a screenshot of the widget. Once a user clicks on it we redirect to the entity page and actually show the widget interactively.

[2017-04-23 15:46] demirdagemir commented on #70
I'm working on this.. What's the text above the Footer?

[2017-04-23 15:57] goldbergtatyana commented on #70
We will post a link to the text for the website in a few moments here

[2017-04-23 16:11] kordianbruck commented on #70
@demirdagemir Its 'Czech out our Stats'

[2017-04-23 16:25] #98 closed, assigned to kordianbruck

[2017-04-23 16:27] goldbergtatyana opened #100 "Links to GitHub on the About page"
Do we need to have links to GitHub for all members of the seminar?

How about asking in the lobby for preferences of the people? Let's give everyone two days to reply, If there will be no reply, let's keep the links to GitHub. Otherwise, links to other pages or no active links at all.

[2017-04-23 16:34] kordianbruck commented on #100
We asked already today in the main channel. Will update it on a request basis. I think its important to link back to the profiles as it turns up in google if someone is looking at references for a person.

[2017-04-23 16:47] goldbergtatyana commented on #70
The text for the About page and the Landing page can be found at https://docs.google.com/document/d/1np2dw3D_B7Gt1bYzsqOOf2_7zK9CIiP_eqY3FyJ-VPQ/edit

[2017-04-23 16:48] kordianbruck commented on #88
@Binabiko text is done: https://docs.google.com/document/d/1np2dw3D_B7Gt1bYzsqOOf2_7zK9CIiP_eqY3FyJ-VPQ/edit

[2017-04-23 16:53] goldbergtatyana opened #101 "About page description"
Let's move the text of "About the Project" to be above the picture of people from our class. So, that a user reads what the project is about when he gets to the page instead of making scroll down our pic first.

[2017-04-23 16:54] goldbergtatyana opened #102 "Plain background"
The current wallpaper looks a bit childish with the many symbols. Lets have it just plain white.

[2017-04-23 16:55] kordianbruck commented on #102
I actually like it... Plain white will be really boring :cry:

[2017-04-23 16:56] goldbergtatyana commented on #102
The matter of taste again it seems :)

Lets have more people give us their opinion then

[2017-04-23 16:56] kordianbruck commented on #88
Quoting from #101:

[2017-04-23 16:56] #101 closed, assigned to nobody

[2017-04-23 17:02] goldbergtatyana commented on #55
Once a search item is enetered, will the user be immediately forwarded to the result page with events, map and relationship widgets? If so, will then the table that is currently shown go away?

[2017-04-23 17:12] #71 closed, assigned to syncall

[2017-04-23 17:25] syncall opened #104 "Fix pagination with API"
At the moment pagination isn't really working
Dependent on

- [x] MusicConnectionMachine/api#126
- [x] MusicConnectionMachine/api#125

[2017-04-23 17:28] syncall commented on #102
An alternative could also be to elevate some 'main' background in white, such like the following

![grafik](https://cloud.githubusercontent.com/assets/25962345/25315766/f7253bbe-285a-11e7-84a4-f9930b63be4a.png)

[2017-04-23 17:37] gyachdav commented on #102
+1

Looks very nice

Sent from my iPhone

[2017-04-23 18:00] kordianbruck opened #105 "Footer background color"
Please let the footer have some background color. Maybe grey? white?

Try 2-3 colors out and pick the best one.

[2017-04-23 18:42] gyachdav commented on #88
Remove the header line:

About the Project

[2017-04-23 18:44] gyachdav commented on #77
Order of Nav bar should be (from left to right)

- Home
- Search
- Embed
- Statistics
- About

[2017-04-23 18:46] syncall opened #106 "Loading icon for lateloading bundles"
The Bundle.js loads bundles on the fly. At the moment without loading icon.
There is already one in Detail page.js that can be used

[2017-04-23 18:47] syncall opened #107 "Search Bar on mobile devices"
Hide search bar in the header on mobile devices -> bootstrap class
Put one only visible on small devices on top of the search page

[2017-04-23 18:49] syncall opened #108 "Width of logo on mobile devices too big"
Should be enough to set the width to something like
Width: 100%; max-width:600px

[2017-04-23 19:28] joern-vh commented on #88
So no "About the Project" at all?

[2017-04-24 01:30] #106 closed, assigned to syncall

[2017-04-24 01:30] #107 closed, assigned to syncall

[2017-04-24 01:43] #55 closed, assigned to chaoran-chen

[2017-04-24 01:48] #105 closed, assigned to joern-vh

[2017-04-24 02:11] chaoran-chen opened #114 "Use the widgets with real data"
As soon as https://github.com/MusicConnectionMachine/VisualizationG5/issues/80 and https://github.com/MusicConnectionMachine/VisualizationG5/issues/79 are finished, the SPA should use the widgets with real data.

File that needs to be changed: https://github.com/MusicConnectionMachine/VisualizationG6/blob/develop/client/components/WidgetComponent.js#L5

[2017-04-24 02:23] chaoran-chen opened #115 "Sources of icons in the widgets"
The widgets use several icons from flaticon.org. The sources are documented in https://github.com/MusicConnectionMachine/VisualizationG5/blob/develop/docs/image_sources.md and have to be inserted as described here:
http://support.flaticon.com/hc/en-us/articles/207248209-How-I-must-insert-the-attribution-

[2017-04-24 04:09] gyachdav commented on #88
Nope. This line is redundant.

[2017-04-24 08:50] syncall opened #117 "On Mobile devices: menu is not autoclosing"
If the drop down Menu ist opened and a menu entry is clicked, the menu wouldn't close automatically.
Maybe because these are no 'real' links.

Could  be done with a simple  onclick event that calls a jQuery Funktion in bootstrap to trigger the menu to collapse.

[2017-04-24 11:46] felixschorer opened #118 "Changed Github handle, please update about page"
Hey there, I've changed my GitHub handle to @felixschorer. Could you please modify the about page to link to my new profile page? GitHub doesn't do redirects on profile pages.

Thanks, Felix

[2017-04-24 18:48] pfent commented on #100
Solved in #96

[2017-04-24 18:48] #100 closed, assigned to nobody

[2017-04-24 19:21] kordianbruck opened #119 "Sort contributors alphabetically"
We want all the contributors to be sorted by alphabet on their last name.

[2017-04-24 19:25] goldbergtatyana commented on #119
Please also include Burkhard Rost into the list of mentors

[2017-04-24 21:58] joern-vh commented on #118
closed by #120

[2017-04-24 21:58] #118 closed, assigned to nobody

[2017-04-24 22:00] joern-vh commented on #88
Closed by #120.

[2017-04-24 22:00] #88 closed, assigned to joern-vh

[2017-04-24 23:30] kordianbruck commented on #99
Looks great. Can we please get some sample data into the map widget @Binabiko

[2017-04-24 23:31] kordianbruck commented on #102
Done for now.

[2017-04-24 23:31] #102 closed, assigned to demirdagemir

[2017-04-24 23:32] #77 closed, assigned to ysdevys

[2017-04-24 23:32] kordianbruck commented on #70
Done for now.

[2017-04-24 23:32] #70 closed, assigned to demirdagemir, syncall

[2017-04-24 23:33] kordianbruck commented on #72
Done.

[2017-04-24 23:33] #72 closed, assigned to demirdagemir, syncall

[2017-04-24 23:36] kordianbruck opened #121 "Create content for statistics"
We need some nice content & graphs to put on the http://mcmfrontend.azurewebsites.net/statistics page

[2017-04-25 05:11] joern-vh commented on #99
I've been looking for - fix this by today I guess.

[2017-04-25 12:34] joern-vh commented on #115
@kordianbruck Should I add six entries to the attribution table? We need to list every icon from different authors.

[2017-04-25 13:48] gyachdav commented on #115
Add only one entry named flat icon and in the reference column put the refs to all six icons. In the description column write that these icons were used for the relations widget.

Sent from my iPhone

[2017-04-25 14:45] chaoran-chen commented on #99
Done in #120.

[2017-04-25 15:46] kordianbruck commented on #99
No, we are still missing the sample data in the map widget @chaoran-chen

[2017-04-25 15:55] joern-vh commented on #99
Will be done by this evening @kordianbruck.

[2017-04-25 16:11] chaoran-chen commented on #115
Not only for the relations widget, every widget uses some.

[2017-04-25 18:09] chaoran-chen opened #124 ""Search" menu entry"
Do we really need a link to "search" in the menu? We already have a search field in the header bar and on the landing page..

[2017-04-25 19:07] pfent commented on #124
The home page is also kindof a search page, since there is a big central search field.

I'd vote for dropping that entry

[2017-04-25 19:18] #108 closed, assigned to chaoran-chen

[2017-04-25 19:18] #117 closed, assigned to chaoran-chen

[2017-04-25 21:26] joern-vh commented on #119
Closed by #125.

[2017-04-25 21:26] #119 closed, assigned to joern-vh

[2017-04-25 21:27] joern-vh commented on #115
Closed by #125.

[2017-04-25 21:27] joern-vh commented on #99
Closed by #125.

[2017-04-25 21:27] #99 closed, assigned to joern-vh

[2017-04-25 21:30] joern-vh commented on #124
I would support dropping the entry.

[2017-04-25 21:31] kordianbruck commented on #115
@Binabiko please leave the issues open, till the code is merged! Thank you!

[2017-04-25 21:33] kordianbruck commented on #124
I really don't mind it actually. But if you guys insist, then I'm not opposed.

[2017-04-25 21:52] kordianbruck commented on #115
@Binabiko now its merged. So one can close. :dancer:

[2017-04-25 21:52] #115 closed, assigned to joern-vh

[2017-04-25 21:57] sacdallago commented on #124
I agree with @kordianbruck , I don't mind it. On the contrary the home page is a bit crowded, thus having an extra search section feels like a little safe space to me. ☁️ opinions

[2017-04-25 22:10] syncall commented on #124
Keep in mind that on mobile devices the search bar is not there and the
user has to navigate to search somehow

Christian Dallago <notifications@github.com> schrieb am Di., 25. Apr. 2017,
23:57:

[2017-04-26 10:42] syncall opened #126 "Docker Image not automatically deploying"
The deployed version of the site is still from an old commit.
I don't know how it works at the moment with azure, but I had the same issue with docker hub. Didnt work automatically. That's why I was calling a trigger through an URL to trigger a redeployment of the container in Travis.

[2017-04-26 11:06] syncall opened #127 "Cache problems"
On every rebuild a unique hash is put into the generated index.html. This prevents a browser to load a cached old version. It seems this works not for the late-loaded bundles. So at the moment the app breaks if there is a old version in the cache.

[2017-04-26 16:30] chaoran-chen opened #130 "Don't show "Invalid date""
Currently, "Invalid date" will be displayed for date of birth and date of death if no date is stored in the database. This needs to be changed.

[2017-04-26 16:33] chaoran-chen opened #131 "Search for tags"
I just recognized that the Tags are linked, clicking on `20th-century classical musicians` redirects, for example, to `/search/20th-century%20classical%20musicians` which shows nothing. Either we implement a tag-search or remove the link.

[2017-04-26 20:55] kordianbruck commented on #126
Yea, I noticed this happening a lot as well. My "fix" is to manually restart the machine which will pull again from Docker hub.

[2017-04-26 20:55] #127 closed, assigned to syncall

[2017-04-28 10:34] pfent commented on #104
The two referenced issues are closed now.

[2017-04-29 18:55] kordianbruck commented on #104
@Binabiko maybe you can jump in and finish this up please?

[2017-04-30 19:27] #130 closed, assigned to chaoran-chen

[2017-05-03 22:58] #104 closed, assigned to syncall

[2017-05-03 22:58] #131 closed, assigned to nobody

[2017-05-04 15:56] kordianbruck commented on #131
naice!

[2017-05-04 15:57] kordianbruck commented on #131
Wait, you just removed the click handler - I call hacks!

[2017-05-04 15:58] kordianbruck commented on #104
@syncall thanks!

[2017-12-12 16:15] #75 closed, assigned to sacdallago, goldbergtatyana

[2019-03-13 03:58] ecstrema opened #134 "Readme link to azure repo broken"
The link referering to the azure thing doesn't see to work.
This one: http://mcmfrontend.azurewebsites.net/

[2019-03-15 08:57] sacdallago commented on #134
Hi. This Project is not maintained anymore. If you are interested in further development, please start your own instance.

[2019-03-15 08:57] #134 closed, assigned to nobody